{% load my_tags %}
{% load static %}
<link rel="stylesheet" href="/static/css/runoob.css">
<script src="/static/js/runoob.js"></script>
<h1>后面内容是模板变量：{{ name }}</h1>
<hr/>
<h2>以下内容是循环出来的</h2>
{% for view in views_list %}
<p>{{forloop.counter}}-{{view}}</p>
{% endfor %}
<hr/>
<h2>以下内容是条件判断</h2>
{% if age < 18 %}
<p>你是未成年人</p>
{% elif age >= 18 and age <= 60 %}
<p>你是成年人</p>
{% else %}
<p>垂垂老矣</p>
{% endif %}
<hr>
{% for i in list_empty %}
<p>{{i}}</p>
{% empty %}
空空如也
{% endfor %}
<hr>
{% include 'include.html'%}
<hr>
<h2>自定义过滤器和标签</h2>
<div>filter:{{ 3 | my_filter:5}}</div>
<div>
    customTag:{% my_tag1 1 2 3 %}
</div>
<h3>语义化标签</h3>
{% my_html_tag "username" "username-box" %}
<hr>
<h1>静态资源</h1>
<img src="{% static 'img/girl.png' %}" alt="girl" class="girl-box">
<img src="/static/img/girl.png" alt="girl" class="girl-box">