<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>抽奖程序</title>
    <style>
        .box {
            width: 800px;
            height: 600px;
            border:1px solid #cccccc;
            margin: 50px auto;
            box-sizing: border-box;
            padding: 10px;
            text-align:center;
        }
        a {
            font-size: 20px;
            font-weight:bold;
        }
        .result {
            margin-top: 20px;
            color: red;
            font-size: 30px;
        }
    </style>
</head>
<body>
<div class="box">
    <h1>抽奖程序</h1>
    <p>参与抽奖人员：{{ heros }}</p>
    <hr>
    <a href="/choujiang">开始抽奖</a>
    <div class="result">抽奖结果：{{heros[num]}}</div>
</div>

</body>
</html>